<!doctype html>
<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }} {% endblock %}

	<title>CS232 Project</title>
	<link rel="shortcut icon" href="static/icon/logo.png" type="image/x-icon">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<!-- <style type="text/css">
        figcaption {
			background-color: rgba(79, 44, 16, 0.6);
			height: 1.2em;
			width: 100%;
			margin-top: -2.4em;
			float: right;
			text-align: center;
			color: white;
			z-index: 1;
			font-family: 'Open Sans', sans;
		  }
    </style> -->
	{% endblock %}
</head>
<body>
	<nav class="navbar navbar-dark bg-dark">
		<span class="navbar-brand mb-0 h1"><h2>CS232 - Image Compression with K-means</h2></span>
	</nav>
    
    <a href="/" class="btn btn-primary" role="button">Back to home page.
        <!-- <button type="button" class="btn btn-default"></button> -->
        <span class="sr-only">(current)</span>
    </a>
	<p>
		{% with messages = get_flashed_messages(with_categories=true) %}
		  {% if messages %}
			<ul class=flashes>
			{% for category, message in messages %}
				<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert" style="margin-right: 1300px;">
					<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
					<strong>INFO!: </strong>{{ message }}.	
				</div>
			{% endfor %}
			</ul>
		  {% endif %}
		{% endwith %}
	</p>
	{% if filename %}
		<div class="row">
			<div class="column">
				<figure style="display: table;">
					<img src="{{ url_for('display_image', filename=filename) }}" alt="Original Image" style="width:100%" >
					<figcaption style="display: table-caption; caption-side: top;  text-align: center;">
                       <h2>Fig.1 - Original Image.</h2>
                    </figcaption>
				</figure>
			</div>
			<div class="column">
				<figure style="display: table;">
					<img src="{{ url_for('display_image_compressed', filename=filename+'_'+result) }}" alt="Compressed Image" style="width:100%">
					<figcaption style="display: table-caption; caption-side: top;  text-align: center;">
                       <h2>Fig.2 - Compressed Image with {{result}} k_values</h2> 
                    </figcaption>
				</figure>
			</div>
		</div>
	{% endif %}

</body>
