<!doctype html>

<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
	{% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }} {% endblock %}

	<title>CS232 Project</title>
	<link rel="shortcut icon" href="static/icon/logo-uit.png" type="image/x-icon">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	{% endblock %}
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
		<span class="navbar-brand mb-0 h1">
			<img src="static/icon/logo-uit.png" width="50" height="40" class="d-inline-block align-top" alt=""> CS232 - Image Compression with K-means
        </span>
	</nav>

	<form method="post" action="/" enctype="multipart/form-data" >
		<p>
			<label for="avatar"><h4>Select an image to upload and display:</h4>
				<input class="form-control mr-sm-2"  style="width:400px" type="file" name="file" autocomplete="off" required>
			</label>
		</p>

		<p>
			<label for="vol">Choose <b>k</b> Number (between 1 and 256):</label>
			<input type="range" id="vol" name="k_value" value="128" min="1" max="256" oninput="this.nextElementSibling.value = this.value">
			<output>128</output>
		</p>
		<p>
			<input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Submit">
		</p>
	</form>

	<p>
		{% with messages = get_flashed_messages(with_categories=true) %}
		  {% if messages %}
			<ul class=flashes>
			{% for category, message in messages %}
				<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert" style="margin-right: 1300px;">
					<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
					<strong>INFO!: </strong>{{ message }}.	
				</div>
			{% endfor %}
			</ul>
		  {% endif %}
		{% endwith %}
	</p>

</body>